img {
	width: 100px;
	height: 100px;
	position: absolute;
}
#go2 {
	margin-left: 1000px;
}
#mybox {
	height: 10px;
	top:90px;
	background-color:red;
	position: absolute;
}
#mybox2 {
	width: 10px;
	background-color:red;
	position: absolute;
}
#mybox3 {
	height: 10px;
	background-color:red;
	position: absolute;
}